Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude # don't send status checks that don't have flag coverage uploaded
    patch: off
    project:
      default:
        flags:
          - server
          - ui
      server:
        target: 50%
        flags:
          - server
        paths:
          - "x/"
          - "!x/**/client/" # ignore client package
      ui:
        target: 70%
        flags:
          - ui
        paths:
          - "ui/core/src"
    changes: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
    carryforward: true
  ui:
    paths:
      - "ui/core/src"
    carryforward: true

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

call genesis funcs in module.go, genesis tests
  x/ethbridge/genesis_test.go
  x/ethbridge/module.go
  x/ethbridge/types/test_common.go
Due: server

move genesis test functions to /test
  x/ethbridge/genesis_test.go
  x/ethbridge/module.go
  x/ethbridge/test/test_common.go
  x/ethbridge/types/test_common.go
Due: server

fix genesis tests
  x/ethbridge/genesis_test.go
Due: server

add screenshot on fail support
  ui/e2e/.gitignore
  ui/e2e/index.test.js
  ui/e2e/jest.config.js
  ui/e2e/jest.setup.js
  ui/e2e/package.json
  ui/e2e/pages/PegPage.js
  ui/yarn.lock
Due: none

ui/app: RewardsPage: services, claim
  ui/app/src/views/RewardsPage.vue
Due: none

ui/core/dispensation
  ui/core/src/usecases/dispensation/index.ts
Due: ui

ui/core/sifUnsignedClient: add wsUrl back
  ui/core/src/services/utils/SifClient/SifUnsignedClient.ts
Due: ui
