Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

minor code change.
  x/ethbridge/client/cli/tx.go
  x/ethbridge/test/test_helpers.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/nativeToken.go
Due: server

add event
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/types/events.go
Due: server

add token gas for each network.
  proto/sifnode/ethbridge/v1/tx.proto
  proto/sifnode/oracle/v1/types.proto
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/test/test_helpers.go
  x/ethbridge/types/events.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/tx.pb.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/nativeToken.go
  x/oracle/keeper/nativeToken_test.go
  x/oracle/types/types.pb.go
Due: server

remove static gas check.
  x/ethbridge/types/msgs.go
Due: server

Added support for Microsoft Azure
  deploy/rake/cluster.rake
Due: none

Added support for Microsoft Azure
  deploy/rake/helpers.rake
Due: none

Added Terraform config files for Microsoft Azure
  deploy/terraform/providers/azure/main.tf
  deploy/terraform/providers/azure/outputs.tf
  deploy/terraform/providers/azure/variables.tf
Due: none

Added documentation for deploying to Azure
  docs/chainOps/k8s/tutorials/azure-betanet.md
  docs/chainOps/k8s/tutorials/azure-testnet.md
Due: none

updated tests, added bulk submit aggregated sigs, coverage tool
  smart-contracts/.gitignore
  smart-contracts/contracts/CosmosBridge.sol
  smart-contracts/contracts/Oracle.sol
  smart-contracts/hardhat.config.js
  smart-contracts/package.json
  smart-contracts/test/testCosmosBridge.js
  smart-contracts/test/test_bridgeBank.js
  smart-contracts/test/test_cosmosBridge.js
  smart-contracts/test/test_end_to_end.js
  smart-contracts/test/test_security.js
Due: none

clean up ceth usage
  proto/sifnode/ethbridge/v1/tx.proto
  proto/sifnode/ethbridge/v1/types.proto
  proto/sifnode/oracle/v1/types.proto
  x/ethbridge/alias.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/genesis.go
  x/ethbridge/genesis_test.go
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/keeper/nativeTokenReceiverAccount.go
  x/ethbridge/keeper/nativeTokenReceiverAccount_test.go
  x/ethbridge/legacy/v39/genesis.go
  x/ethbridge/legacy/v42/migrate.go
  x/ethbridge/test/test_helpers.go
  x/ethbridge/types/codec.go
  x/ethbridge/types/events.go
  x/ethbridge/types/keys.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
  x/ethbridge/types/tx.pb.go
  x/ethbridge/types/types.go
  x/ethbridge/types/types.pb.go
  x/oracle/types/types.pb.go
Due: server

disable lint for address.
  x/ethbridge/test/test_helpers.go
Due: none

fix minor issue.
  x/ethbridge/test/test_helpers.go
  x/ethbridge/types/test_common.go
Due: none

init the solution.
  proto/sifnode/ethbridge/v1/tx.proto
  proto/sifnode/oracle/v1/types.proto
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/tx.pb.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/prophecy.go
  x/oracle/types/keys.go
  x/oracle/types/types.pb.go
Due: server

update gitignore file
  .gitignore
Due: none

rename according to comments.
  proto/sifnode/ethbridge/v1/tx.proto
  proto/sifnode/ethbridge/v1/types.proto
  proto/sifnode/oracle/v1/types.proto
  ui/core/src/usecases/peg/index.ts
  x/ethbridge/alias.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/genesis.go
  x/ethbridge/genesis_test.go
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/crossChainFeeReceiverAccount.go
  x/ethbridge/keeper/crossChainFeeReceiverAccount_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/legacy/v39/genesis.go
  x/ethbridge/legacy/v42/migrate.go
  x/ethbridge/test/test_helpers.go
  x/ethbridge/types/codec.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/events.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/keys.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
  x/ethbridge/types/tx.pb.go
  x/ethbridge/types/types.go
  x/ethbridge/types/types.pb.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/nativeToken.go
  x/oracle/keeper/nativeToken_test.go
  x/oracle/types/keys.go
  x/oracle/types/networkIdentity.go
  x/oracle/types/types.pb.go
Due: server, ui

Path conditions:
  server: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, *.pb.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, *.pb.go, scripts/, contrib
