Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude # don't send status checks that don't have flag coverage uploaded
    patch: off
    project:
      default:
        flags:
          - server
          - ui
      server:
        target: 50%
        flags:
          - server
        paths:
          - "x/"
          - "!x/**/client/" # ignore client package
      ui:
        target: 70%
        flags:
          - ui
        paths:
          - "ui/core/src"
    changes: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
    carryforward: true
  ui:
    paths:
      - "ui/core/src"
    carryforward: true

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

format wip
  ui/app/src/components/shared/Text/Text.stories.ts
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/utils/format.ts
Due: ui

clp msg_server
  x/clp/abci.go
  x/clp/alias.go
  x/clp/genesis.go
  x/clp/genesis_test.go
  x/clp/handler.go
  x/clp/keeper/executors.go
  x/clp/keeper/msg_server.go
  x/clp/keeper/validatorWhitelist.go
  x/clp/module.go
  x/ethbridge/keeper/keeper.go
  x/faucet/keeper/msg_server.go
  x/oracle/keeper/adminAccount_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/test_common.go
  x/oracle/keeper/validatorWhiteList_test.go
Due: server

wip
  ui/core/src/utils/format.ts
  ui/package.json
  ui/yarn.lock
Due: ui

added precision and normalization checks for ReverseSwap
  app/app.go
Due: none

added precision and normalization checks for ReverseSwap
  app/app.go
  docs/distribution/distribution.md
  docs/distribution/distribution_offchain.md
Due: none

added precision and normalization checks for ReverseSwap
  docs/distribution/distribution.md
  docs/distribution/distribution_offchain.md
Due: none

changes to calcualtions
  scripts/demos/clp/clp-tx-fee-2.sh
  scripts/demos/clp/clp.sh
  scripts/init.sh
  test/test-tables/reverse_single_swap_result.json
  ui/core/src/entities/formulae.ts
  x/clp/ante.go
  x/clp/keeper/calculations.go
  x/clp/keeper/table_test.go
  x/clp/types/errors.go
  x/faucet/alias.go
  x/faucet/ante.go
Due: server, ui

wip
  ui/app/src/components/shared/Text/Text.stories.ts
  ui/app/src/views/SinglePool.vue
  ui/core/src/utils/format.ts
  ui/package.json
  ui/yarn.lock
Due: ui

Updated explorer config.
  deploy/helm/block-explorer/templates/configmap.yaml
Due: none
