Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

fix flakiness
  ui/e2e/index.test.js
  ui/e2e/jest.config.js
  ui/e2e/pages/ApproveSpendPopup.js
  ui/e2e/pages/PegPage.js
Due: none

ethbridge sifgen
  tools/sifgen/common/types/genesis.go
  tools/sifgen/genesis/genesis.go
  tools/sifgen/node/node.go
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/rest/rest.go
Due: server

ui/app/{RewardContainer,RewardsPage}: claimType
  ui/app/src/components/shared/RewardContainer/RewardContainer.vue
  ui/app/src/views/RewardsPage.vue
Due: none

ui/core/dispensation
  ui/core/src/services/DispensationService/index.ts
  ui/core/src/services/utils/SifClient/SifUnsignedClient.ts
  ui/core/src/services/utils/SifClient/x/dispensation/index.ts
  ui/core/src/usecases/dispensation/index.ts
  ui/core/src/usecases/index.ts
Due: ui

added requiremenets.txt for easy reqs install
  test/integration/src/py/requirements.txt
Due: none

fixed reqs
  test/integration/src/py/requirements.txt
Due: none

app/RewardsPage: map claim type, modal open
  ui/app/src/views/RewardsPage.vue
Due: none

ui/core/dispensation: map claim type
  ui/core/src/services/DispensationService/index.ts
  ui/core/src/services/utils/SifClient/x/dispensation/index.ts
  ui/core/src/usecases/dispensation/index.ts
Due: ui

Removed the CLP/EthBridge imports on Sifgen.
  cmd/sifgen/main.go
  tools/sifgen/genesis/genesis.go
  tools/sifgen/node/node.go
Due: none

Type updates.
  tools/sifgen/common/types/genesis.go
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
