Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

fixed lint
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/types/keys.go
Due: server

fixed lint
  x/dispensation/README.md
  x/dispensation/abci.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/types/keys.go
  x/dispensation/types/querier.go
  x/dispensation/types/records.go
Due: server

Remove redundant code
  ui/app/src/App.vue
  ui/app/src/components/mismatchedNetworkGuard/MismatchedNetworkGuard.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
  ui/core/src/actions/ethWallet.test.ts
  ui/core/src/actions/ethWallet.ts
  ui/core/src/actions/peg/index.ts
  ui/core/src/actions/utils/index.ts
  ui/core/src/actions/wallet.ts
  ui/core/src/api/EthereumService/EthereumService.ts
  ui/core/src/api/IWalletService.ts
  ui/core/src/api/SifService/SifService.ts
  ui/core/src/store/wallet.ts
  ui/core/src/test/utils/getMockWalletService.ts
Due: ui

Ethbriddge genesis export / import
  proto/sifnode/ethbridge/v1/types.proto
  x/ethbridge/genesis.go
  x/ethbridge/module.go
  x/ethbridge/types/query.pb.go
  x/ethbridge/types/types.pb.go
Due: server

update the smart contracts and start on the new tests and deployment scripts
  smart-contracts/contracts/BridgeBank/BridgeBank.sol
  smart-contracts/contracts/BridgeBank/EthereumBank.sol
  smart-contracts/contracts/CosmosBridge.sol
  smart-contracts/contracts/MockUpgrade/MockCosmsosBridgeUpgrade.sol
  smart-contracts/contracts/Oracle.sol
  smart-contracts/contracts/OracleStorage.sol
  smart-contracts/contracts/Valset.sol
  smart-contracts/hardhat.config.js
  smart-contracts/package.json
  smart-contracts/test/testHardhat.js
  smart-contracts/yarn.lock
Due: none

migrate to solidity 0.8.0. We will most likely need to completely migrate our existing smart contracts
  smart-contracts/contracts/BridgeBank/BankStorage.sol
  smart-contracts/contracts/BridgeBank/BridgeBank.sol
  smart-contracts/contracts/BridgeBank/BridgeToken.sol
  smart-contracts/contracts/BridgeBank/CosmosBank.sol
  smart-contracts/contracts/BridgeBank/CosmosBankStorage.sol
  smart-contracts/contracts/BridgeBank/CosmosWhiteList.sol
  smart-contracts/contracts/BridgeBank/CosmosWhiteListStorage.sol
  smart-contracts/contracts/BridgeBank/EthereumBank.sol
  smart-contracts/contracts/BridgeBank/EthereumBankStorage.sol
  smart-contracts/contracts/BridgeBank/EthereumWhitelist.sol
  smart-contracts/contracts/BridgeBank/Pausable.sol
  smart-contracts/contracts/BridgeBank/PauserRole.sol
  smart-contracts/contracts/BridgeBank/SifchainTestToken.sol
  smart-contracts/contracts/BridgeRegistry.sol
  smart-contracts/contracts/CosmosBridge.sol
  smart-contracts/contracts/CosmosBridgeStorage.sol
  smart-contracts/contracts/Migrations.sol
  smart-contracts/contracts/MockUpgrade/MockCosmsosBridgeUpgrade.sol
  smart-contracts/contracts/Oracle.sol
  smart-contracts/contracts/OracleStorage.sol
  smart-contracts/contracts/Valset.sol
  smart-contracts/contracts/ValsetStorage.sol
  smart-contracts/hardhat.config.js
  smart-contracts/package.json
  smart-contracts/yarn.lock
Due: none

fixed tests
  x/dispensation/keeper/keeper_test.go
  x/dispensation/types/keys.go
Due: server

fixed minor details inuserflow
  x/dispensation/UserFlow.md
Due: server

Put mismatch panel in layout
  ui/app/src/App.vue
  ui/app/src/components/layout/Layout.vue
  ui/app/src/components/mismatchedNetworkGuard/MismatchedNetworkGuard.vue
  ui/app/src/components/shared/ErrorBoundary/ErrorBoundary.stories.ts
  ui/app/src/components/shared/ErrorBoundary/ErrorBoundary.vue
  ui/app/src/components/shared/Panel.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
