Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

renamed types
  x/faucet/ante.go
Due: server

fixed lint
  x/clp/ante.go
Due: server

fix app.go
  app/app.go
Due: none

remove unused imports
  ui/core/src/entities/formulae.calculateReverseSwapResult.test.ts
Due: ui

fix app.go logic
  app/app.go
Due: none

Changed back antehandler
  app/app.go
Due: none

force ui build
  ui/core/src/entities/formulae.calculateLiquidityProviderUnits.test.ts
Due: ui

Path conditions:
  server: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
