Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude # don't send status checks that don't have flag coverage uploaded
    patch: off
    project:
      default:
        flags:
          - server
          - ui
      server:
        target: 50%
        flags:
          - server
        paths:
          - "x/"
          - "!x/**/client/" # ignore client package
      ui:
        target: 70%
        flags:
          - ui
        paths:
          - "ui/core/src"
    changes: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
    carryforward: true
  ui:
    paths:
      - "ui/core/src"
    carryforward: true

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

mint rowan if not enough.
  x/ethbridge/keeper/keeper.go
Due: server

work in progress
  smart-contracts/scripts/test/contractUtilities.js
  smart-contracts/scripts/test/sifchainUtilities.js
  smart-contracts/scripts/test/waitForBlock.js
  test/integration/environment_setup.sh
  test/integration/setup-linux-environment-root.sh
  test/integration/src/py/env_framework.py
  test/integration/src/py/env_ganache.py
  test/integration/src/py/env_sifnoded.py
  test/integration/src/py/env_smartcontractrunner.py
  test/integration/src/py/env_testrunner.py
  test/integration/src/py/env_utilities.py
  test/integration/src/py/test_utilities.py
Due: none

work in progress
  test/integration/Dockerfile.devenv
  test/integration/src/py/env_framework.py
Due: none

work in progress
  cmd/ebrelayer/relayer/ethereum.go
  smart-contracts/scripts/test/getTokenBalance.js
  smart-contracts/truffle-config.js
  test/integration/Makefile
  test/integration/README.md
  test/integration/src/py/burn_lock_functions.py
  test/integration/src/py/env_ebrelayer.py
  test/integration/src/py/env_framework.py
  test/integration/src/py/env_ganache.py
  test/integration/src/py/env_golang.py
  test/integration/src/py/env_sifnoded.py
  test/integration/src/py/env_smartcontractrunner.py
  test/integration/src/py/pytest_utilities.py
Due: none

work in progress
  test/integration/src/py/conftest.py
  test/integration/src/py/env_framework.py
  test/integration/src/py/env_sifnoded.py
  test/integration/src/py/env_testrunner.py
  test/integration/src/py/test_ebrelayer_replay.py
  test/integration/src/py/test_ebrelayer_restart.py
  test/integration/src/py/test_liquidity_pools.py
  test/integration/src/py/test_new_currency_transfers.py
  test/integration/src/py/test_peggy_fees.py
  test/integration/src/py/test_random_currency_roundtrip.py
  test/integration/src/py/test_rollback_chain.py
  test/integration/src/py/test_rowan_transfers.py
  test/integration/src/py/test_utilities.py
Due: none

try ci again.
  x/ethbridge/keeper/keeper.go
Due: server

update command comments.
  cmd/ebrelayer/relayer/ethereum.go
Due: none

work in progress
  smart-contracts/scripts/test/contractUtilities.js
  smart-contracts/scripts/test/getTokenBalance.js
  smart-contracts/scripts/test/sendLockTx.js
  test/integration/src/py/test_random_currency_roundtrip.py
Due: none

revert to try ci.
  x/ethbridge/keeper/keeper.go
Due: server

disable a test case.
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  x/ethbridge/keeper/keeper.go
Due: server, ui

put the test back.
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

add log to debug.
  x/ethbridge/keeper/keeper.go
Due: server

work in progress
  test/integration/src/py/test_new_currency_transfers.py
Due: none

work in progress
  test/integration/src/py/env_ebrelayer.py
  test/integration/src/py/env_framework.py
  test/integration/src/py/env_geth.py
Due: none
