Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude # don't send status checks that don't have flag coverage uploaded
    patch: off
    project:
      default:
        flags:
          - server
          - ui
      server:
        target: 50%
        flags:
          - server
        paths:
          - "x/"
          - "!x/**/client/" # ignore client package
      ui:
        target: 70%
        flags:
          - ui
        paths:
          - "ui/core/src"
    changes: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
    carryforward: true
  ui:
    paths:
      - "ui/core/src"
    carryforward: true

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

set guided pooling to default, don't show warnings if guided liquidity
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/assets.ethereum.localnet.json
Due: ui

Don't show warning when guided liquidity
  ui/app/src/views/CreatePoolPage.vue
Due: none

Added a function for reverse swap and refactored test tables
  x/clp/ante.go
  x/clp/keeper/calculations.go
  x/clp/keeper/table_test.go
Due: server

Refactored reverse swap
  x/clp/ante.go
  x/clp/keeper/calculations.go
  x/clp/keeper/table_test.go
Due: server

added test table for reverse swap
  test/test-tables/reverse_single_swap_result.json
  test/test-tables/singleswap_result.json
  ui/core/src/entities/formulae.calculateExternalExternalSwapResult.test.ts
  x/clp/keeper/table_test.go
Due: server, ui

added precision and normalization checks for ReverseSwap
  x/clp/ante.go
  x/clp/keeper/calculations.go
Due: server
