Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude # don't send status checks that don't have flag coverage uploaded
    patch: off
    project:
      default:
        flags:
          - server
          - ui
      server:
        target: 50%
        flags:
          - server
        paths:
          - "x/"
          - "!x/**/client/" # ignore client package
      ui:
        target: 70%
        flags:
          - ui
        paths:
          - "ui/core/src"
    changes: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
    carryforward: true
  ui:
    paths:
      - "ui/core/src"
    carryforward: true

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

refactored TX FEE 2.0 to a simpler formula
  scripts/demos/clp/clp-tx-fee-2.sh
  scripts/demos/clp/init.sh
  x/clp/ante.go
  x/clp/keeper/calculations.go
  x/clp/keeper/table_test.go
Due: server

added comments
  x/clp/ante.go
  x/clp/types/errors.go
Due: server

added comments
  app/ante.go
  x/clp/alias.go
  x/clp/ante.go
  x/clp/types/keys.go
Due: server

fixed lint issues
  app/ante.go
Due: none

fixed lint issues
  scripts/init.sh
  x/clp/ante.go
Due: server

first commit
  api/openapi/drafts/swagger.yml
  app/app.go
  tools/sifgen/common/types/genesis.go
Due: none

fix subspace
  app/app.go
Due: none

added fe values
  test/test-tables/reverse_single_swap_result.json
  test/test-tables/singleswap_result.json
Due: none

Fix tests, prettify
  ui/core/src/entities/formulae.calculateDoubleSwapResult.test.ts
  ui/core/src/entities/formulae.calculateReverseSwapResult.test.ts
  ui/core/src/entities/formulae.calculateSingleSwapResult.test.ts
  ui/core/src/entities/formulae.calculateSwapResult.test.ts
  ui/core/src/entities/formulae.ts
Due: ui

oracle
  x/oracle/keeper/test_common.go
Due: none

clp msg_server
  x/clp/genesis.go
  x/clp/keeper/keeper_test.go
  x/clp/keeper/liquidityprovider.go
  x/clp/keeper/msg_server.go
  x/clp/keeper/params.go
  x/clp/keeper/pool.go
  x/clp/types/asset.go
  x/clp/types/codec.go
  x/clp/types/genesis.go
  x/clp/types/msgs.go
  x/oracle/types/genesis.go
Due: server
