Repository Sifchain/sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude # don't send status checks that don't have flag coverage uploaded
    patch: off
    project:
      default:
        flags:
          - server
          - ui
      server:
        target: 50%
        flags:
          - server
        paths:
          - "x/"
          - "!x/**/client/" # ignore client package
      ui:
        target: 70%
        flags:
          - ui
        paths:
          - "ui/core/src"
    changes: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
    carryforward: true
  ui:
    paths:
      - "ui/core/src"
    carryforward: true

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "*.pb.go"
  - "scripts/"
  - "contrib"

rename more variable and replace native token.
  x/clp/handler_test.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/events.go
  x/ethbridge/types/test_common.go
  x/oracle/keeper/crossChainFee.go
  x/oracle/keeper/crossChainFee_test.go
  x/oracle/keeper/keeper.go
Due: server

add contract size plugin to hardhat, fixed tests, add necessary logic to smart contracts around enforcing what kind of tokens can be burned and locked.
  smart-contracts/contracts/BridgeBank/BridgeBank.sol
  smart-contracts/contracts/BridgeBank/CosmosBank.sol
  smart-contracts/contracts/BridgeBank/CosmosWhiteList.sol
  smart-contracts/contracts/CosmosBridge.sol
  smart-contracts/hardhat.config.js
  smart-contracts/package.json
  smart-contracts/test/testBridgeBank.js
  smart-contracts/test/testCosmosBridge.js
  smart-contracts/test/test_bridgeBankLock.js
  smart-contracts/test/test_security.js
Due: none

replace more native token
  x/ethbridge/client/cli/tx.go
  x/ethbridge/keeper/crossChainFeeReceiverAccount.go
  x/ethbridge/keeper/msg_server.go
Due: server

revert cod change for ui and clp.
  ui/core/src/usecases/peg/index.ts
  x/clp/handler_test.go
Due: server, ui

replace ethereum chain id.
  cmd/ebrelayer/txs/test_common.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/types/flags.go
Due: server

fix the wrong comment.
  x/ethbridge/keeper/keeper.go
Due: server

not use crosschainfeeamount
  proto/sifnode/ethbridge/v1/tx.proto
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/events.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
  x/ethbridge/types/tx.pb.go
Due: server

Add basic test for sifnoded update_whitelist_validator command
  test/integration/src/py/test_utilities.py
  test/integration/src/py/test_whitelist_administration.py
Due: none

update mock smart contracts, update tests to cover more branches
  smart-contracts/.solcover.js
  smart-contracts/contracts/Mocks/FakeERC20.sol
  smart-contracts/contracts/Mocks/TrollToken.sol
  smart-contracts/test/testBridgeBank.js
  smart-contracts/test/test_bridgeBankLock.js
Due: none

Terraform example.
  deploy/rake/lib/sifchain/chainops/test/terraform.rb
  deploy/rake/test.rake
Due: none

init solution.
  proto/sifnode/ethbridge/v1/query.proto
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/keeper/grpc_query.go
  x/ethbridge/types/querier.go
  x/ethbridge/types/query.pb.go
Due: server

changed to using unmarshal and logging out error
  scripts/demos/ibc/load-test.sh
  scripts/run-multichain.sh
Due: none

Use hardhat for basic BridgeBank tests
  smart-contracts/.gitignore
  smart-contracts/Makefile
  smart-contracts/deploy/deployBridgeBank.ts
  smart-contracts/deploy/deployBridgeRegistry.ts
  smart-contracts/deploy/deployCosmosBridge.ts
  smart-contracts/hardhat.config.ts
  smart-contracts/package.json
  smart-contracts/scripts/tester.ts
  smart-contracts/src/assertions.ts
  smart-contracts/src/contractNames.ts
  smart-contracts/src/deploy/deploy.ts
  smart-contracts/src/deploymentEnv.ts
  smart-contracts/src/deploymentEnvironment.ts
  smart-contracts/src/ethereumAddress.ts
  smart-contracts/src/ethereumTypes.ts
  smart-contracts/src/tsyringe/contracts.ts
  smart-contracts/src/tsyringe/hardhatSupport.ts
  smart-contracts/src/tsyringe/injectionTokens.ts
  smart-contracts/src/tsyringe/sifchainAccounts.ts
  smart-contracts/test/test_foo.js
  smart-contracts/test/test_newBridgeBank.ts
  smart-contracts/tsconfig.json
Due: none

Removed these two non-working tests:
  smart-contracts/test/test_bridgeBank.js
  smart-contracts/test/test_cosmosBridge.js
Due: none

add test case.
  x/ethbridge/keeper/querier.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/test/test_helpers.go
  x/ethbridge/types/test_common.go
Due: server

integrated whitelist module into ibc_sifchain and clp
  app/app.go
  x/clp/handler.go
  x/clp/module.go
  x/ibc_sifchain/module.go
  x/ibc_sifchain/state/whitelist.go
  x/ibc_sifchain/whitelisting.go
Due: server

add test for GetCrossChainFee
  x/oracle/keeper/crossChainFee_test.go
Due: server

revert pool change.
  app/poolChange.go
Due: none

udpate denom for ceth.
  app/app_test.go
  app/token_migration.json
Due: none

revert test common.
  x/ethbridge/types/test_common.go
Due: none

remove commented code.
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
Due: server
